.panelWrapper {
  flex: 1;
  height: 90%;
  margin: 1rem;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: 6px 6px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerPanel {
  width: 85%;
  height: 85%;
  background: white;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
}
