.pageContainer {
  background-color: rgba(255, 255, 255, 1);
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcomeHeading {
  color: #000000;
  margin-top: 2vh;
  font-family: Kadwa, serif;
  font-size: clamp(2rem, 10vw, 6rem);
  font-weight: 700;
  text-align: center;
}

@media (width <= 991px) {
  .pageContainer {
    max-width: 991px;
  }

  .welcomeHeading {
    font-size: clamp(2rem, 8vw, 5rem);
  }
}

@media (width <= 640px) {
  .pageContainer {
    max-width: 640px;
  }

  .welcomeHeading {
    font-size: clamp(1.5rem, 6vw, 4rem);
  }
}
@media (width <= 480px) {
  .pageContainer {
    padding: 24px 12px;
  }

  .welcomeHeading {
    padding: 0 10px;
  }
}
