.bookWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b2a4a; /* dark navy blue */
  min-height: 100vh;
}

.page {
  position: relative;
  background: linear-gradient(to right, #f8ecd2, #e8d2a7);
  width: 90%;
  height: 100vh;
  border: 6px solid black;
  box-shadow: 6px 6px 0px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.spine {
  position: absolute;
  padding-top: 2%;
  top: 0.1rem;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.dot {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
}

.footerStrip {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #0b2a4a;
  color: #ffcc33;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
}
.stickerWrapper {
  position: absolute;
  z-index: 3;
}

.page1 {
  top: 30px;
  left: 30px;
}

.page2 {
  top: 30px;
  right: 30px;
}

.live {
  top: 90px;
  right: 500px;
}

.boom {
  bottom: 80px;
  right: 40px;
}

.quoteLeft {
  top: 150px;
  left: 60px;
  max-width: 160px;
}

.followTeams {
  bottom: 120px;
  left: 40px;
}

.kickOff {
  bottom: 80px;
  left: 490px;
}

.adventure {
  bottom: 90px;
  right: 490px;
  max-width: 160px;
  color: #ffcc33;
}
